.background {
    background-color: rgba(219, 154, 57, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.gridWrapper {
    min-width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    overflow-y: scroll;
    max-height: 60vh;
}

.grid {
    display: grid;
    padding: 1rem 0 3rem 1rem;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    min-width: 65rem;
    row-gap: 60px;
}

.header {
    color: #BF360C;
}

html {
    overflow-y: scroll;
}

