.footer {
    background-color: #fff3e0;
    text-align: center;
    font-size: small;
    padding: 1.5rem 0;
}

.logo {
    margin: 0 auto;
    height: 40px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.footerDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footerDivider::before,
.footerDivider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #000060;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.socialIconsImg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #BF360C;
}