@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(100, 100, 100, 0.2); /* semi-transparent orange */
    backdrop-filter: blur(4px); /* optional frosted-glass effect */
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.navbarLink {
    font-family: 'Jomhuria', cursive;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
    width: 10vw;
    color: white;
}



