.background {
    width: 95vw;
    min-height: 220px;
    background-color: rgba(219, 154, 57, 0.2);
    margin: 2rem auto;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
}

.headerText{
    padding-left: 40px;

}
