.wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.container {
    position: relative;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    display: flex;
    scroll-behavior: smooth;
    padding-bottom: 3rem;
    scrollbar-width: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container::-webkit-scrollbar {
    display: none;
}

.festivalBoxItem {
    flex: 0 0 calc(100% / 3.5);
    scroll-snap-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: visible;
}

.arrowButton {
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.left {
    left: -2.5rem;
}

.right {
    right: -2.5rem;
}

.chevron{
    font-size: 96px;
    color: #BF360C;
}

.spacer {
    flex: 0 0 calc((100% / 3) / 2);
    pointer-events: none;
}

.body {
    padding-top: 1rem;
    background-color: #FAA437;
    background-color: rgba(250,180,55,0.35);
    margin-bottom: 4rem;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #BF360C;
}