.wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.container {
    position: relative;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    display: flex;
    scroll-behavior: smooth;
    padding-bottom: 3rem;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.festivalBoxItem {
    flex: 0 0 calc((100% - 20%)/ 3); /* Show 3 items per view */
    scroll-snap-align: start;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: visible;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-110%);
    z-index: 10;
    background: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.left {
    left: -2.5rem;
}

.right {
    right: -2.5rem;
}

.spacer {
    flex: 0 0 calc((100% / 3) / 2);
    pointer-events: none;
}

.body {
    padding-top: 1rem;
    text-align: center;
    background-color: #FAA437;
    background-color: rgba(250,180,55,0.35);
    margin-bottom: 4rem;
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #BF360C;
}