.adminContainer{
    padding-top: 7rem;
    padding-left: 3rem;
}

.singleButton{
    background-color: #e65c00;
}

.enterButton{
    height: 2rem;
    width: 5rem;
    background-color: #e65c00;
}

.fieldSetStyle{
    padding-top: 1rem;
    padding-left: 1rem;
}

.inputStyle{
    background-color: #ffffff;
    width: 20rem;
}
/*vill ha input som större input field*/
.descriptionStyle{
    background-color: #ffffff;
    width: 20rem;
    height: 10rem;
}

.festivalSearchResult {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    border-radius: 8px;
    align-items: center;
}

.festivalName {
    font-weight: bold;
}

.festivalId {
    font-size: 0.9rem;
    color: #555;
}

ul {
    width: 350px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

