body {
    margin: 0;
    background-color: #fff3e0;
}

.backgroundPicture {
    background-image: url("../assets/backgroundimage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
}

.contentWrapper {
    position: relative;
    padding: 20px;
}

.upcomingEventsHeader {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
    padding-left: 40px;
    color: #BF360C;
}

.feed{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}
