body {
    margin: 0;
    background-color: #fff3e0
}

.backgroundPicture {
    background-image: url("./raw.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
}