body {
    margin: 0;
    background-color: #fff3e0;
}

.backgroundPicture {
    background-image: url("../assets/backgroundimage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
}

.contentWrapper {
    position: relative;
    padding: 20px;
}

.upcomingEventsHeader {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
    color: #BF360C;
}

.scrollContainerWrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 16px;
}

.scrollContainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    width: 900px;
    padding: 16px 0;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.flexBoxItem {
    flex: 0 0 280px;
    max-width: 280px;
}

.scrollButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

.scrollButton.left {
    left: -20px;
}

.scrollButton.right {
    right: -20px;
}
